
$color: rgb(2, 231, 2);

body{
  background-color: rgba(27, 26, 26, 0.87) ;
  font-family: 'M PLUS 1 Code', sans-serif;
}
hr{
  border: 1px inset rgba(14, 13, 13, 0.97)
}
.my-flix {
  color: $color;
}